VenueLoginRegClient/App_WebReferences/SelectServiceRef/ShowTrackerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPerformance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Performance" nillable="true" type="tns:Performance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerformance" nillable="true" type="tns:ArrayOfPerformance" />
  <xs:complexType name="Performance">
    <xs:sequence>
      <xs:element minOccurs="0" name="ShowDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowStartTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowVenue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Performance" nillable="true" type="tns:Performance" />
</xs:schema>