VenueLoginRegClient/App_WebReferences/LoginRegSvcRef/VenueLoginRegService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VenueLoginRegService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5698/VenueLoginRegService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5698/VenueLoginRegService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5698/VenueLoginRegService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVenueLoginRegService_RegisterVenue_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterVenue" />
  </wsdl:message>
  <wsdl:message name="IVenueLoginRegService_RegisterVenue_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterVenueResponse" />
  </wsdl:message>
  <wsdl:message name="IVenueLoginRegService_VenueLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:VenueLogin" />
  </wsdl:message>
  <wsdl:message name="IVenueLoginRegService_VenueLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:VenueLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IVenueLoginRegService_AddShow_InputMessage">
    <wsdl:part name="parameters" element="tns:AddShow" />
  </wsdl:message>
  <wsdl:message name="IVenueLoginRegService_AddShow_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddShowResponse" />
  </wsdl:message>
  <wsdl:message name="IVenueLoginRegService_AddShowDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:AddShowDetail" />
  </wsdl:message>
  <wsdl:message name="IVenueLoginRegService_AddShowDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddShowDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IVenueLoginRegService_AddArtist_InputMessage">
    <wsdl:part name="parameters" element="tns:AddArtist" />
  </wsdl:message>
  <wsdl:message name="IVenueLoginRegService_AddArtist_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddArtistResponse" />
  </wsdl:message>
  <wsdl:portType name="IVenueLoginRegService">
    <wsdl:operation name="RegisterVenue">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueLoginRegService/RegisterVenue" message="tns:IVenueLoginRegService_RegisterVenue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueLoginRegService/RegisterVenueResponse" message="tns:IVenueLoginRegService_RegisterVenue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VenueLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueLoginRegService/VenueLogin" message="tns:IVenueLoginRegService_VenueLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueLoginRegService/VenueLoginResponse" message="tns:IVenueLoginRegService_VenueLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddShow">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueLoginRegService/AddShow" message="tns:IVenueLoginRegService_AddShow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueLoginRegService/AddShowResponse" message="tns:IVenueLoginRegService_AddShow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddShowDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueLoginRegService/AddShowDetail" message="tns:IVenueLoginRegService_AddShowDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueLoginRegService/AddShowDetailResponse" message="tns:IVenueLoginRegService_AddShowDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueLoginRegService/AddArtist" message="tns:IVenueLoginRegService_AddArtist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueLoginRegService/AddArtistResponse" message="tns:IVenueLoginRegService_AddArtist_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVenueLoginRegService" type="tns:IVenueLoginRegService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterVenue">
      <soap:operation soapAction="http://tempuri.org/IVenueLoginRegService/RegisterVenue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VenueLogin">
      <soap:operation soapAction="http://tempuri.org/IVenueLoginRegService/VenueLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddShow">
      <soap:operation soapAction="http://tempuri.org/IVenueLoginRegService/AddShow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddShowDetail">
      <soap:operation soapAction="http://tempuri.org/IVenueLoginRegService/AddShowDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddArtist">
      <soap:operation soapAction="http://tempuri.org/IVenueLoginRegService/AddArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VenueLoginRegService">
    <wsdl:port name="BasicHttpBinding_IVenueLoginRegService" binding="tns:BasicHttpBinding_IVenueLoginRegService">
      <soap:address location="http://localhost:5698/VenueLoginRegService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>